WEB_PORT=3001

AUTH_URL=http://localhost:3001
AUTH_SECRET=atruesecretkeythatshouldbechanged

BETTER_AUTH_URL=http://localhost:3001
BETTER_AUTH_SECRET=atruesecretkeythatshouldbechanged

NEXT_PUBLIC_GRAPH_URL=http://localhost:3001/api/graphql
NEXT_PUBLIC_CODEGEN_GRAPH_URL=http://localhost:3002/api/graphql
NODE_ENV=development