WEB_PORT=

AUTH_URL=
AUTH_SECRET=

NEXT_PUBLIC_GRAPH_URL=
NEXT_PUBLIC_CODEGEN_GRAPH_URL=
NODE_ENV=

FACEBOOK_ID=
FACEBOOK_SECRET=

GITHUB_ID=
GITHUB_SECRET=

GOOGLE_ID=
GOOGLE_SECRET=

TWITTER_ID=
TWITTER_SECRET=

AUTH0_ID=
AUTH0_SECRET=
AUTH0_ISSUER=